@import "../src/assets/styles/Header.css";
@import "../src/assets/styles/Hero.css";
@import "../src/assets/styles/Order.css";
@import "../src/assets/styles/ContactUs.css";

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 75%;
  margin: 0 auto;
}
body {
  background: #1a1919;
}
#header {
  background: white;
}
